/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleurs de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #f75c03;
    --color-bg-primary: #e2e2e2;
}
