<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CW3 - Semaine 07</title>

        <link rel="stylesheet" href="styles/main.css" />
        <script src="scripts/main.js" defer></script>
    </head>

    <body>
        <section class="exercice">
            <div class="wrapper">
                <h1>.:: Introduction au média queries</h1>

                <section class="number" id="num01">
                    <div class="number__header">
                        <h2>
                            numéro 1 -
                            <span>Typographie fluide</span>
                        </h2>
                        <p>
                            La typographie responsive en SCSS est une pratique cruciale pour les concepteurs web cherchant à offrir une expérience utilisateur
                            optimale sur différents appareils. Pour ce faire, on utilise une version améliorée de notre mixin typo.
                        </p>
                        <h3>Instructions</h3>
                        <div class="instructions">
                            <a href="#num01-maquette" class="button--instruction">résultat final</a>
                            <a href="#num01-explication" class="button--instruction">fiche technique</a>
                        </div>
                    </div>
                    <div class="number__content">{% include "_partials/ex1/_num1.html" %}</div>
                </section>
                <section class="number" id="num02">
                    <div class="number__header">
                        <h2>
                            numéro 2 -
                            <span>Menu responsive</span>
                        </h2>
                        <p>
                            Dans cet exercice, nous explorerons la conception d'un en-tête réactif pour un site web. L'objectif est de créer un menu qui
                            s'adapte élégamment aux différentes tailles d'écran, y compris la transition vers un menu hamburger. Nous ne ferons pas le
                            JavaScript pour l'instant.
                        </p>
                        <h3>Instructions</h3>
                        <div class="instructions">
                            <a href="#num02-maquette" class="button--instruction">résultat final</a>
                            <a href="#num02-explication" class="button--instruction">fiche technique</a>
                        </div>
                    </div>
                    <div class="number__content">{% include "_partials/ex1/_num2.html" %}</div>
                </section>
                <section class="number" id="num03">
                    <div class="number__header">
                        <h2>
                            numéro 3 -
                            <span>Menu responsive</span>
                        </h2>
                        <p>
                            Dans cet exercice, nous explorerons la conception d'un en-tête réactif pour un site web. L'objectif est de créer un menu qui
                            s'adapte élégamment aux différentes tailles d'écran, y compris la transition vers un menu hamburger. Nous ne ferons pas le
                            JavaScript pour l'instant.
                        </p>
                        <h3>Instructions</h3>
                        <div class="instructions">
                            <a href="#num03-maquette" class="button--instruction">résultat final</a>
                            <a href="#num03-explication" class="button--instruction">fiche technique</a>
                        </div>
                    </div>
                    <div class="number__content">
                        <!-- inclure votre partials de l'exercice 2 ici -->
                        {% include "_partials/ex1/_num3.html" %}
                    </div>
                </section>
                <section class="number" id="num04">
                    <div class="number__header">
                        <h2>
                            numéro 4 -
                            <span>Gestion des colonnes</span>
                        </h2>
                        <p>
                            Dans cet exercice, nous allons créer une section responsive avec des media queries, des colonnes et des cartes pour qu'elle s'adapte
                            parfaitement à différentes tailles d'écran.
                        </p>
                        <h3>Instructions</h3>
                        <div class="instructions">
                            <a href="#num04-maquette" class="button--instruction">résultat final</a>
                            <a href="#num04-explication" class="button--instruction">fiche technique</a>
                        </div>
                    </div>
                    <div class="number__content">{% include "_partials/ex1/_num4.html" %}</div>
                </section>
                <section class="number" id="num05">
                    <div class="number__header">
                        <h2>
                            numéro 5 -
                            <span>Gestion des colonnes 2</span>
                        </h2>
                        <p>
                            Dans cet exercice, nous allons créer une section responsive avec des media queries, des colonnes et des cartes pour qu'elle s'adapte
                            parfaitement à différentes tailles d'écran.
                        </p>
                        <h3>Instructions</h3>
                        <div class="instructions">
                            <a href="#num05-maquette" class="button--instruction">résultat final</a>
                            <a href="#num05-explication" class="button--instruction">fiche technique</a>
                        </div>
                    </div>
                    <div class="number__content">{% include "_partials/ex1/_num5.html" %}</div>
                </section>
            </div>
        </section>
        {% include "_partials/dialog/_mq.html" %}
    </body>
</html>
